<!-- Author: Nitin J Mutkawoa
     Email: jmutkawoa@cyberstorm.mu
     Website: https://tunnelix.com 
     Blog Article's title: Presenting Linux Logins logs on HTML table with Ansible -->

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login Management Platform </title>
    <script src="js/index.js"></script>
	<script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    
</head>

<body ng-app="AngTable" ng-controller="Table">
    <p></p>
      <img src="images/logo1.png" align="right" alt=" " width="380" height="180"> 
      <img src="images/logo2.png" alt="GRDF" align="top-left" width="380" height="180">
    <p><h2>Login Management for my servers</p></h2> 

<div id="wrapper">
        <div id="content">
            <div class="form-inline">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=0" class="btn btn-outline btn-primary btn-sm">First</button>
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-outline btn-primary btn-sm">Previous</button>
                <label>{{currentPage+1}}/{{numberOfPages()}}</label>
                <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-outline btn-primary btn-sm">Next</button>
                <button ng-disabled="currentPage == numberOfPages()-1" ng-click="currentPage=numberOfPages()-1" class="btn btn-outline btn-primary btn-sm">Last</button>
                <label>Filter:</label> <input ng-model="q" id="search" ng-change="currentPage=0" class="form-control" style="width: 200px"> 
                <label>Table Size:</label> <input ng-model="pageSize" type="number" placeholder="pageSize" class="form-control" style="width:70px">
            </div>

<div style="overflow: auto; height:540px">
                <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0px">
                    <thead>
                        <tr class="tableheader">
                            <th>Hostname</th>
                            <th>Username</th>
                            <th>Login</th>
                            <th>TimeTaken</th>
                            <th>IPAddress</th>
                            <th>Perimeter</th>
                            <th>Application</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rec in SampleRecords | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                            <td>{{ rec.Hostname }}</td>
                            <td>{{ rec.Username }}</td>
                            <td>{{ rec.Login }}</td>
                            <td>{{ rec.TimeTaken }}</td>
                            <td>{{ rec.IPAddress }}</td>
                            <td>{{ rec.Perimeter }}</td>
                            <td>{{ rec.Application }}</td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer">
    <marquee> <h4>This report was generated by Ansible. Project #Tabulogs For any query please contact: <b><i>jmutkawoa@cyberstorm.mu</b></i></h4> </marquee>
Mon Oct  1 12:34:57 CEST 2018
    </h5>
</footer>
</body>
</html>
